<%= link_to "Home", root_path %>
<h1>Articles</h1>

    <h3>Title : <%= @article.title %> </h3>
    <p>Body : <%= @article.body %> </p>
<ul>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Delete", article_path(@article), method: :delete, data: {confirm: "Are you sure ?"} %> </li>
</ul>

<h2>Comments(<%= @article.comments.public_count %>) :</h2>
<%= render @article.comments %>


<h2>Add a comment:</h2>
<%= render "comments/form" %>